#container{
                position: relative;
                z-index: 10;
                height: 100%;
                padding-bottom: 60px;
                box-sizing: border-box;
                overflow: auto;
            }
                    #bg{
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 213px;
                background-image:url("http://show.ybccode.com/l3l4/static/trans/images/mainbg.jpg");
                background-repeat:no-repeat;
                background-size:cover;
                z-index: 1;
                width:100%;
                height:213px;
            }
                    .mask {
                position: fixed;
                top: 0;
                width: 100%;
                height: 213px;
                background-color: #000;
                opacity: 0.76;
                z-index: 2;
            }
            #Div {
                border-radius: 4px; /*这句就是重点，让边框变为圆角*/
                border: 1px solid #CCCCCC; /*让边框变为1px宽度，直线，#CCC颜色*/
                width: 600px;
                height: 500px;
                background-color: white;
                margin:0 auto
                    }