<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<h1 align="center">注册界面</h1>
<div align="center">
    <form action="/register/" method="post">
        {% csrf_token %}
        <p>
            <label>用户名：</label><input type="text" name="user" required>
        </p>

        <p>
            <label>密&emsp;码：</label><input type="password" name="password" required>
        </p>

        <p>
            <input type="submit" value="注册">
        </p>

    </form>

</div>
</body>
</html>